LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

ANTHROPIC_API_KEY=
CARTESIA_API_KEY=

# Only needed to run hotel_agent.py
ASSEMBLYAI_API_KEY=

# Only needed to run hotel_agent_deepgram.py
DEEPGRAM_API_KEY=
